<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    <title>Login</title>

    <style>
        td {
            padding: 8px;
        }
    </style>
</head>

<body>
<h1 class="text-center mt-4">Login Page</h1>
<div class="row">
    <div style="float: none; display: block; margin: 0 auto">
        <form class="mt-3 pt-5" name='f' action="login" method='POST'>
            <table>
                <tr>
                    <td>Email:</td>
                    <td><input type='text' name='username' value=''></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type='password' name='password' /></td>
                </tr>
                <tr>
                    <td>Remember Me:</td>
                    <td><input type="checkbox" name="remember-me" /></td>
                </tr>
                <tr>
                    <td><a class="btn btn-primary" href="register">Register</a></td>
                    <td class="float-right"><input class="btn btn-primary" name="submit" type="submit" value="Log in" /></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>

</html>