<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div class="container-fluid">
        <h1 class="text-center mt-4">Registration Page</h1>
        <form class="mt-3 pt-5" th:action="@{/register}" th:object="${user}"  method="POST" enctype="utf8">
            <div th:if="${param.duplicateUser}" class="alert alert-danger">
                User with that email already exists !
            </div>
            <div class="form-group">
                <label for="input-email">Email address</label>
                <input type="email" th:field="*{email}" class="form-control" id="input-email" placeholder="Enter email">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="input-first-name">First name</label>
                        <input th:field="*{firstName}" type="text" class="form-control" id="input-first-name" placeholder="Enter first name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="input-last-name">Last name</label>
                        <input th:field="*{lastName}" type="text" class="form-control" id="input-last-name" placeholder="Enter last name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="input-password">Password</label>
                        <input th:field="*{password}" type="password" class="form-control" id="input-password" placeholder="Enter password">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="input-password-repeat">Repeat password</label>
                        <input th:field="*{verifiedPassword}" type="password" class="form-control" id="input-password-repeat" placeholder="Repeat password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="input-birth-date">Birth date</label>
                        <input th:field="*{birthDate}" type="date" class="form-control" id="input-birth-date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="input-gender">Gender</label>
                    <select th:field="*{gender}" id="input-gender" class="form-control">
                        <option value="" disabled="disabled" selected>Choose gender...</option>
                        <option value="MALE">Male</option>
                        <option value="FEMALE">Female</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 offset-5">
                     <button type="submit" class="btn btn-block btn-primary center-block">Register</button>
                </div>
            </div>
        </form>

        <div class="alert alert-danger" th:if="${objectErrors} or ${fieldErrors} or ${errorPasswordsDoNotMatch}">
            <h2>Validation errors</h2>
            <ul class="list-group" th:if="${objectErrors}">
                <li class="list-group-item"
                    th:each="error : ${objectErrors}"
                    th:text="${error.defaultMessage}">
                </li>
            </ul>
            <ul class="list-group" th:if="${fieldErrors}">
                <li class="list-group-item"
                    th:each="error : ${fieldErrors}"
                    th:text="${error.field + ' ' + error.defaultMessage}">
                </li>
            </ul>
            <div th:if="${errorPasswordsDoNotMatch}" th:text="${errorPasswordsDoNotMatch.toString()}">

            </div>
        </div>

    </div>

</body>
</html>